<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tuannq.tflat">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.TFlat.NoActionBar">
        <activity android:name=".QuesActivity"></activity>
        <activity android:name=".PresentActivity" />
        <activity android:name=".PresentAdapter" />
        <activity android:name=".SearchActivity" />
        <activity
            android:name=".TabActivity"
            android:label="@string/title_activity_tab"
            android:theme="@style/Theme.TFlat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FavoriteActivity" />
        <activity android:name=".HistoryActivity" />
        <activity android:name=".VnActivity" />
        <activity android:name=".TranslateActivity" />
    </application>

</manifest>